# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Database
*.db

# Docker
*.pid

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Node
node_modules/

# Build
dist/
build/